.main, .stats, .container, .page, .bar{
    border-width: 10%;
    border-style: solid;
}

#id{
    position: absolute;
    font-size: 30px;
    top:50%;
    left:50%;
}

.main{
    /*animation: fade 3s linear infinite;*/
    width: 100%;
    height: 600px;
    background-color: cadetblue;
}

.stats{
    background-color: beige;
    width: 30%;
    height: 100%;
}

.container{
    border-color: blueviolet;
    border-radius: 5%;
    background-color:brown;
    position: relative;
    top: 30%;
    left: 40%;
    width: 50%;
    
}

.bar{
    display:none;
    background-color:lightcoral;
    width: 10%;
    
}

.page{
    display:none;
    background-color: blanchedalmond;
    width: 10%;
}

@keyframes fade{
    0% {}
    100% {transform: rotate(360deg)}
}