<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tarsow</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <button class="header_button">Home</button>
      <button class="header_button">Projects</button>
      <button class="header_button">Education</button>
      <button class="header_button">Contact</button>
    </header>
    <main>
      
      <h1></h1>
    </main>

    <script src="static/js/script.js"></script>
  </body>
</html>
