<!doctype html>

<html lang="en">
    <head>
        <title>Progress Monster</title>
        <link rel="stylesheet" href="/static/css/progress-monster.css">
        <link rel="stylesheet" href="/public/css/progress-monster.css">
    </head>
    <body>
        <div class="main">
            <div class="stats">
                <div id="hp">Health: </div>
                <div id="mana">Mana: </div>


                <div id="str">Strength: </div>
                <div id="int">Intelligence: </div>
                <div id="dex">Dexterity: </div>

                <div id="coins">Coins: </div>


            </div>

            <div class="container">

                <div class="bar">
                    <button>Home</button>
                    <button>Skills</button>
                    <button>Fight</button>
                </div>
                

                <div class="page home"></div>
                    <div id="mon_0">mon 1</div>
                    <div id="mon_1">mon 2</div>
                    <div id="mon_2">mon 3</div>
                <div class="page skills"></div>
                <div class="page fight"></div>

            </div>

            <script src="/static/js/progress-monster.js"></script>
            <script src="/public/js/progress-monster.js"></script>

        </div>
    </body>
</html>